
# NetBeans private settings
**/nbproject/private/

# ビルド出力フォルダ
target/
dist/

# 一時ファイルやクラスファイル
*.class
*.jar
*.zip


# OS固有の隠しファイル
.DS_Store
Thumbs.db

# 注意: 以下のファイル/フォルダはプラグイン開発に必須のため「除外しない」
# META-INF/
# build.properties
# plugin.xml
# .project
# .classpath