<#ftl strip_whitespace=false>
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtds/mybatis-3-mapper.dtd">
<mapper namespace="${namespace}">

    <resultMap id="${className}ResultMap" type="${classFqnName}">
        <#list columns as col>
        <result property="${col.property}" column="${col.column}" />
        </#list>
    </resultMap>

    <sql id="Base_Column_List">
        <#list columns as col>${col.column}<#if col?has_next>, </#if></#list>
    </sql>

    <select id="select" resultMap="${className}ResultMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM 
            ${tableName}
        WHERE 1=1
            <#list columns as col>
            <if test="${col.property} != null">
                AND ${col.column} = <#noparse>#{</#noparse>${col.property}<#noparse>}</#noparse>
            </if>
            </#list>
    </select>

    <insert id="insert" parameterType="${classFqnName}">
        INSERT INTO ${tableName} (
            <include refid="Base_Column_List" />
        )
        VALUES (
            <#list columns as col><#noparse>#{</#noparse>${col.property}<#noparse>}</#noparse><#if col?has_next>, </#if></#list>
        )
    </insert>

    <update id="update" parameterType="${classFqnName}">
        UPDATE 
            ${tableName}
        SET
            <#list columns as col>
            ${col.column} = <#noparse>#{</#noparse>${col.property}<#noparse>}</#noparse><#if col?has_next>, </#if>
            </#list>
        WHERE 1=1
            <#list columns as col>
            AND ${col.column} = <#noparse>#{</#noparse>${col.property}<#noparse>}</#noparse><#if col?has_next></#if>
            </#list>
    </update>

    <delete id="delete">
        DELETE FROM 
            ${tableName}
        WHERE 1=1
            <#list columns as col>
            AND ${col.column} = <#noparse>#{</#noparse>${col.property}<#noparse>}</#noparse><#if col?has_next></#if>
            </#list>
    </delete>

</mapper>